*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Bai Jamjuree', sans-serif;
}
nav{
  background-color: #2D2D2A;
  width: 100vw;
  max-width: 100%;
  height: 50px;
  position: fixed;
}
.navbar{
  display: flex;
  justify-content: flex-end;
}
nav ul{
display: none;
}
nav img{
  height: 50px;
}

#navtog + ul.active {
  background-color: black;
  display: block;
  position: absolute;
  width: 100vw;
  top: 100px;
  opacity: 1;
}
#navtog + ul.active li {
  padding: 0;
  margin: 0;
  background-color: black;
  display: block;
}
/* Main */
#main{
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)),url(/assets/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#main .container{
  height: 100%;
  max-width: 1300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#main .container h1{
  color: white;
  text-align:center;
  font-size: 72px;
  letter-spacing: 8px;
}

#main .container p{
  color: white;
  text-align: center;
  font-size: 33.6px;
  letter-spacing: 6px;
}

/*About*/
#about{
  width: 100vw;
  max-width: 100%;
  padding:0px 4% 0px 4%;
}

#about .container{
  width: 100%;
  margin: auto;
  padding-bottom: 20px;
}

#about .container h1{
  text-align: center;
  font-size: 48px;
}

#about .container .container2{
  margin: auto;
  padding: 5px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about .container .container2 img{
  width: 80%;
}

#about .container .container2 .isi p{
  font-size: 18px;
  text-align: left;
}

#about .container .container2 .table table,th,td{
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 18px;
}

#about .container .container2 table{
  width: 100%;
}

#about .container .container2 th,td{
  padding: 5px;
}

/* SKILL */
#skill h2{
  font-size: 48px;
  margin-left: 4%;
}

#skill .container{
  margin: auto;
  height: auto;
  margin-bottom: 20px;
}

#skill .container h3{
  font-size: 24px;
  margin-left: 4%;
}

#skill .container .prog, .soft{
  height: 18vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#skill .container p{
  font-size: 14px;
  color: white;
  width: 18%;
  padding: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: flex-end;
}

#skill .container .prog .c{
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url(/assets/C.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}
#skill .container .prog .css{
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url(/assets/CSS.jpg);
  background-size: cover;
  border-radius: 20px;
}
#skill .container .prog .html{
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url(/assets/HTML2.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}#skill .container .prog .python{
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url(/assets/python.jpg);
  background-position: 70%;
  background-size: cover;
  border-radius: 20px;
}
#skill .container .soft .ps{
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url(/assets/ps1.jpg);
  background-size: cover;
  background-position: 65%;
  border-radius: 20px;
}
#skill .container .soft .prpro{
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url(/assets/prpro.jpg);
  background-size: cover;
  border-radius: 20px;
}
#skill .container .soft .fig{
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url(/assets/fig.jpg);
  background-position: 50% 54%;
  background-size: 550%;
  border-radius: 20px;
}
#skill .container .soft .vsc{
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url(/assets/coder2.jpg);
  background-position: 70%;
  background-size: cover;
  border-radius: 20px;
}

/*contact*/
#contact{
  max-width: 100%;
}

#contact .container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin: 5px;
}

#contact .container .form{
  width: 95%;
  border: 1px solid black;
  background-color: lightgray;
  border-radius: 20px;
}

.contentform{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px 5px 0px 5px;
  margin-bottom: 20px;
}

#contact .container .form h1{
  font-size: 48px;
  color: white;
  padding: 15px;
}

#contact .container .form label{
  color: white;
  font-size: 24px;
  padding-left: 10px;
}

#contact .container .form input{
  font-size: 24px;
  border-radius: 15px;
}

#contact .container .form button{
  font-size: 24px;
  width: 50%;
  padding: 10px;
  text-align: center;
  border-radius: 24px;
  background-color: #20FC8F;
}

#contact .container .form .button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  
}

/* FOOTER */

footer{
  background-color: #3F5E5A; opacity:0.95;
}

footer .link{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10%;
}

footer img{
  width: 40px;
}

footer h1{
  color: white;
  text-align: center;
  font-size: 28px;
  padding: 5px;
}


/* RESPONSIVE */
@media only screen and (min-width: 960px){
  nav{
    background-color: #2D2D2A;
    width: 100vw;
    max-width: 100%;
    height: 50px;
    position: fixed;
  }
  nav img{
    display: none;
  }
  nav ul{
    height: 50px;
    max-height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
  }
  nav ul li{
    text-align: center;
  }
  nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 24px;
  }

  /* Main */
  #main .container h1{
    font-size: 7.5vw;
  }
  
  #main .container p{
    font-size: 3.5vw;
  }
  
  /*About*/
  #about{
    width: 100vw;
    padding:0px 4% 0px 4%;
  }
  #about .container{
    width: 100%;
    margin: auto;
    padding-bottom: 20px;
  }
  #about .container h1{
    font-size: 5vw;
  }
  #about .container .container2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  #about .container .container2 img{
    width: 33%;
  }
  #about .container .container2 .isi{
    padding-left: 10px;
    display: flex;
    justify-content:flex-start;
    gap: 10px;
  }
  #about .container .container2 .isi p,table{
    font-size: 1.875vw;
  }  
  
  /* SKILL */
  #skill h2{
    font-size: 5vw;
  }
  #skill .container p{
    font-size: 1.458vw;
  }
  #skill .container h3{
    font-size: 2.5vw;
  }

  /*contact*/
  #contact .container{
    display: flex;
    justify-content: flex-start;
    margin: 4%;
  }  
  #contact .container .form{
    width: 40%;
    display: flex;
    flex-direction: column;
  }
  
  #contact .container .form h1{
    font-size: 5vw;
    color: white;
    padding: 15px;
  }
  #contact .container .form label{
    font-size: 2.5vw;
  }
  #contact .container .form input{
    font-size: 2.5vw;
  }
  #contact .container .form button{
    font-size: 2.5vw;
  }
  
  /* FOOTER */
  footer h1{
    font-size: 2.916vw;
  }
}

@media only screen and (min-width: 1500px){
  nav{
    background-color: #2D2D2A;
    width: 100vw;
    max-width: 100%;
    height: 50px;
    position: fixed;
  }
  nav ul{
    height: 50px;
    max-height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
  }
  nav ul li{
    text-align: center;
  }
  nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 24px;
  }

  /* Main */
  #main .container h1{
    font-size: 7.5vw;
  }
  
  #main .container p{
    font-size: 3.5vw;
  }
  
  /*About*/
  #about{
    width: 100vw;
    padding:0px 4% 0px 4%;
  }
  #about .container{
    width: 100%;
    margin: auto;
    padding-bottom: 20px;
  }
  #about .container h1{
    font-size: 5vw;
  }
  #about .container .container2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  #about .container .container2 img{
    width: 33%;
  }
  #about .container .container2 .isi{
    padding-left: 10px;
    display: flex;
    justify-content:flex-start;
    gap: 10px;
  }
  #about .container .container2 .isi p,table{
    font-size: 1.875vw;
  }  
  
  /* SKILL */
  #skill h2{
    font-size: 5vw;
  }
  #skill .container p{
    font-size: 1.458vw;
  }
  #skill .container h3{
    font-size: 2.5vw;
  }

  /*contact*/
  #contact .container{
    display: flex;
    justify-content: flex-start;
    margin: 4%;
  }  
  #contact .container .form{
    width: 40%;
    display: flex;
    flex-direction: column;
  }
  
  #contact .container .form h1{
    font-size: 5vw;
    color: white;
    padding: 15px;
  }
  #contact .container .form label{
    font-size: 2.5vw;
  }
  #contact .container .form input{
    font-size: 2.5vw;
  }
  #contact .container .form button{
    font-size: 2.5vw;
  }
  
  /* FOOTER */
  footer h1{
    font-size: 2.916vw;
  }
}
