*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Bai Jamjuree', sans-serif;
}
nav{
  background-color: #2D2D2A;
  width: 100vw;
  max-width: 100%;
  height: 50px;
  position: fixed;
}

nav ul{
  height: 50px;
  max-height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

nav ul li{
  text-align: center;
}

nav ul li a{
  color: white;
  text-decoration: none;
  font-size: 24px;
}
/* Main */
#main{
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)),url(/assets/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#main .container{
  height: 100%;
  max-width: 1300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#main .container h1{
  color: white;
  text-align:center;
  font-size: 72px;
}
#main .container p{
  color: white;
  text-align: center;
  font-size: 32px;
}

/*About*/
#about{
  width: 100vw;
  max-width: 100%;
  padding:0px 10px 0px 10px
}

#about .container{
  height: 100%;
  max-width: 100%;
  margin: auto;
  padding: 5px;
  padding-bottom: 20px;
}

#about .container img{
  width: 35%;
  border-radius: 10px;
}

#about .container h1{
  text-align: center;
}

#about .container table,th,td{
  border: 1px solid black;
  border-collapse: collapse;
}

#about .container th,td{
  padding: 5px;
}

#about .container .skill{
  height: 100vw;
}

#about .container .skill .prog{
  height: 50%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url(/assets/prog.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;

}

#about .container .skill h3,li{
  color: white;
  padding-bottom: 2px;
}

#about .container .skill .soft{
  height: 50%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url(/assets/prpro.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

/*contact*/

#contact{
  width: 100vw;
  max-width: 100%;
}

#contact .container{
  max-width: 1300px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: auto;
  padding: 5px;
}

#contact .container .form{
  width: 40%;
  border: 1px solid black;
  background-color: lightgray;
  border-radius: 20px;
}

.contentform{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px 5px 0px 5px;
  margin-bottom: 20px;
}

#contact .container .form h1{
  color: white;
  padding: 15px;
}

#contact .container .form label{
  color: white;
  font-size: 24px;
  padding-left: 10px;
}

#contact .container .form input{
  font-size: 24px;
  border-radius: 15px;
}

#contact .container .form button{
  font-size: 24px;
  width: 50%;
  padding: 10px;
  text-align: center;
  border-radius: 24px;
  background-color: #20FC8F;
}

#contact .container .form .button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  
}

/* FOOTER */

footer{
  background-color: #3F5E5A; opacity:0.95;
}

footer .link{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10%;
}

footer img{
  width: 40px;
}

footer h1{
  color: white;
  text-align: center;
  font-size: 28px;
  padding: 5px;
}